@font-face {
	font-family: "YoonGothic720";
	src: url("fonts/YoonGothic720.woff") format("woff");
}
@font-face {
	font-family: "YoonGothic740";
	src: url("fonts/YoonGothic740.woff") format("woff");
}
@font-face {
	font-family: "YoonGothic760";
	src: url("fonts/YoonGothic760.woff") format("woff");
}